body {
    background-color: rgb(29, 29, 29);
}
.container {
    margin-top: 20px;
    margin-left: 60px;
    display: flex;
}
.card {
    background-color: rgb(255, 255, 255);
    width: 300px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 12px 2px rgba(0, 0, 0, 0.2);
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition:transform 0.7s ease ; 
}
.container h1{
    text-align: left;
}
.container p{
    background-color: rgb(255, 255, 255);
    padding-top: 0;
    padding-left: 4px;
}
.container .car-btn {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    padding-left: 20px;
    margin-top: 10px;
    border: 3px black;
    height: auto;
    width: 150px;
    position: relative;
    left: 50px;
}
.card:hover {
    transform: scale(1.05);
    background-color: red;
}
.red {
    
    color: white;
    width: 300px;
    overflow: hidden ;
    border-radius: 8px;
    box-shadow: 0px 12px 2px rgba(0, 0, 0, 0.2);
    padding: 16px;
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    transition:transform 0.7s;
    background-color: rgb(61, 61, 61);
}
h4 {
    background-color: rgb(61, 61, 61);
};
}